.registration-contents
  %h2.single-head.bolb
    電話番号の確認
  %form.registration-form
    .registration-form__content
      %label.registration-form__content__sub-head.bolb
        携帯電話の番号
      %input{name: "cellphone", type: "text_field", placeholder: "携帯電話の番号を入力", class: "input-text-field"}
      %p
        本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
      = link_to phone_num2_review_users_path, class: 'submit-btn' do
        次へ進む
      -# %input{type: "submit", value: "次へ進む", class: "submit-btn"}
      %p
        ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
      %p.text-right
        = link_to "#" do
          本人情報の登録について
          = icon 'fas', 'chevron-right'
