.main__content.clearfix
  .main__content__right
    %section.main__content__right__all
      %h2.main__content__right__head 支払い方法
      .main__content__right__head__inner
        %section
          .main__content__center
            %h3.main__content__sub__head クレジットカード一覧
          %ul.settings__payment__list
        %section.settings__add__card
          .single__content
            .submit__button
              %i.fas.fa-credit-card 
                = link_to "#", class: "creditbtn" do
                  クレジットカードを追加する
        .settings__not__regist
          = link_to "#", class: 'credittext' do
            支払い方法について>
          

      