.credit-page
  %label.credit-page__title{ for: "title" } 支払い方法

  .credit-page__main
    .credit-page__card
      .credit-page__listcard
        %label.credit-page__listcard{ for: "title" } クレジットカード一覧
          
      .credit-page__maincard
        .credit-page__btn
          %i.fas.fa-credit-card.credit-page__icon
          %button.credit-page__btn{ type: "submit" } クレジットカードを追加する

    .credit-page__sub 
      .credit-page__text
        %button.credit-page__text{ type: "submit" } 支払い方法について＞
        