.logo-header
  %section.logo-header__img
    = link_to "#" do
      = image_tag 'fmarket_logo_red.svg'

.sell-main
  %h2.sell-main__title.bolb
    商品の情報を入力

  .sell-main__form
    .sell-main__form__upload
      %h3.sell-main__form__upload__head.bolb
        出品画像
      %span.form-require
        必須
      %p
        最大10枚までアップロードできます
      .sell-main__form__upload__box
        .sell-main__form__upload__box__text
          ドラッグアンドドロップ
          %br
          またはクリックしてファイルをアップロード
        .sell-main__form__upload__box__images

