//コンテンツ部分 スライドショーから
.slide-show
  %img{src: "top-banner1.jpg"}
  %img{src: "top-banner2.jpg"}
  %img{src: "top-banner4.jpg"}



  .on-footer-image
    = image_tag "footer1.jpg"

//ここにあとで、イメージを重ねて表示させる