.header
  .header-content
    .header-up-content
      .header-up-content_logo
      .header-up-content_form
        .header-up-content_form_btn
    .header-bottom
      .header-bottom-category カテゴリーから探す
      .header-bottom-category_btn
      .header-bottom_brand
    .header-bottom_news
      %ul
        %li
          %a
            %div
        %li
          %a
            %div
        %li
          %a
        %li
          %a