.single-contents{
  background-color: #fff;
  padding: 64px;
  font-size: 14px;

  a{
    color: #0099e8;
  }

  p{
    margin: 8px 0 0;
  }

  &__content{
    margin: 40px 0 0;
  }

  .submit-btn{
    margin: 40px 0;
    @include submit();
    @include submit-red();
  }
}