.logout-submit{
  width: 700px;
  height:178.46px;
  padding: 64px;
  background:#FFF;
  &__bar{ 
    display: flex;
    justify-content: center;
    align-items: center;
    &__red{
      width: 320px;
      height: 49.49px;
      font-size: 14px;
      background: #ea352d;
      color: #fff;
      border-style: solid;
      border-width: 0;
    }
  }
}
