.footer{
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 0px 20px 10px;
  box-sizing: border-box;
  .footer-text-area{
    width: 80%;
    margin: 0px auto;
    box-sizing: border-box;
    display: flex;
    a{
      color: rgb(192,192,192);
      text-decoration: none;
    }
    .footer-cell1{
      width: auto;
      padding: 0px 40px 0px 0px;
      display: inline-block;
      margin-top: 18px;
      vertical-align: top;
      border-width: 0px;
      box-sizing: border-box;
      .footer-head{
        font-size: 16px;
        line-height: 1.4em;
      }
      ul{
        line-height: 1.4em;
        margin: 16px 0px 0px 0px;
        li{
          display: list-item;
          text-align: -webkit-match-parent;
          line-height: 1.4em;
          margin-top: 16px;
        }
        .footer-social-link-twitter{
          img{
            width: 44 px;
            height: 44px;
            float: left;
            margin-right: 15px;
            filter: contrast(180%);
          }
        }
        .footer-social-link-facebook{
          img{
            width: 40px;
            height: 40px;
            filter: contrast(180%);
          }
        }
      }
    }
    .footer-cell2{
      width: auto;
      padding: 0px 40px 0px 0px;
      display: inline-block;
      margin-top: 18px;
      vertical-align: top;
      border-width: 0px;
      box-sizing: border-box;
      .footer-head{
        font-size: 16px;
        line-height: 1.4em;
        display: table-cell;
      }
      ul{
        line-height: 1.4em;
        margin: 16px 0px 0px;
        li{
          display: list-item;
          text-align: -webkit-match-parent;
          margin-top: 16px;
        }
      }
    }
    .footer-cell3{
      width: auto;
      padding: 0px 40px 0px 0px;
      border-width: 0px;
      box-sizing: border-box;
      display: flex;
      .footer-head{
        line-height: 1.4em;
        margin: 16px 0px 0px;
      }
      .inner-footer-cell{
        width: 43%;
        background-repeat: no-repeat;
        font-family: Arial,sans-serif;
        padding-right: 40px;
        margin-top: 18px;
        ul{
          line-height: 1.4em;
          margin: 16px 0px 0px;
          margin-top: 16px;
          li{
            line-height: 1.4em;
            margin: 16px 0px 0px;
            margin-top: 16px;
          }
        }
      }
    }
    .footer-cell4{
      width: auto;
      padding: 0px 40px 0px 0px;
      display: inline-block;
      margin-top: 18px;
      vertical-align: top;
      border-width: 0px;
      box-sizing: border-box;
      .footer-head{
        line-height: 1.4em;
      }
      ul{
        line-height: 1.4em;
        margin: 16px 0px 0px;
        li{
          display: list-item;
          text-align: -webkit-match-parent;
          margin-top: 16px;
        }
      }
    }
  }
  .footer-bottom{
    width: 1020px;
    margin: 30px auto 20px;
    display: flex;
    text-align: center;
    &__logo{
      height: 31px;
      width: 124px;
      vertical-align: middle;
    }
    &__copyright{
      padding-left: 15px;
      width: 80%;
    }
  }
}
