.side-bar{
  width: 280px;
  margin: 0 40px 0 0;
  .mypage-nav{
    .mypage-nav__title{
      margin: 40px 0 0;
      font-size: 16px;
    }
    .mypage-nav__list{
      li{
        border-top: 1px solid #eee;
        a{
          position: relative;
          display: block;
          height: 48px;
          padding: 16px;
          font-size: 14px;
          color: #333;
          i{
            position: absolute;
            top: 50%;
            right: 16px;
          }
        }
      }
    }
  }
}