*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #333;
}

body{
  background-color: #f5f5f5;
}

.mypage-wrapper{
  margin: 0 auto;
  padding: 40px 0;
  width: 1020px;
  display: flex;
  color: #333;
}

.registration-wrapper{
  margin: 0 auto;
  width: 768px;
  color: #333;
}

// 商品関連・サインアップ・ログインページ共通ヘッダー
.sub-header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 128px;
  img{
    width: 185px;
    height: 55px;
  }
}

.bolb{
  font-weight: 600;
}

.chapter-head{
  background-color: #fff;
  font-size: 24px;
  padding: 8px 24px;
  border-bottom: 1px solid #f5f5f5;
  text-align: center;
}

.single-head{
  background-color: #fff;
  font-size: 22px;
  padding: 32px;
  border-bottom: 1px solid #f5f5f5;
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// submitボタン
@mixin submit(){
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  text-align: center;
}

@mixin submit-red(){
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}

// ユーザープロフィールの画像関連
@mixin icon(){
  overflow: hidden;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@mixin user-bg(){
  background-image: image-url('user-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

// formのinputボックス
@mixin input-default($length){
  height: 48px;
  width: $length;
  margin: 8px 0 0;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
}

.input-text-field{
  @include input-default(100%);
}

.input-text-field-herf:first-of-type{
  @include input-default(calc(50% - 6px));
  margin-right: 6px;
}

.input-text-field-herf{
  @include input-default(calc(50% - 6px));
}

// formのselectボックス
@mixin select-default($length){
  height: 48px;
  width: $length;
  margin: 8px 0 0;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
}

.select-wrap{
  position: relative;

  i{
    display: inline-block;
    position: absolute;
    right: 16px;
    top: 50%;
    color: #888;
  }
}

.select{
  @include select-default(100%);
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-division{
  @include select-default(76px);
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-credit{
  @include select-default(150px);
  -webkit-appearance: none;
  -moz-appearance: none;
}

// formの必須・任意の項目
@mixin form-need($color){
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: $color;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.form-necessary{
  @include form-need(#ea352d);
}

.form-arbitrary{
  @include form-need(#ccc);
}

// app-banner定形…？

.app-banner{
  background-image: image-url('download_bg_pc.jpg');
  background-repeat: no-repeat;
  background-size:  cover;
  height: 260px;
  width: 700px;
  position: relative;
  color: #fff;
  padding: 0 40px;

  &__back{
    position: absolute;
    display: flex;

    &__inner{
      text-align: center;
      margin: 70px 30px 0 0;
      h2{
        font-size: 16px;
        margin-bottom: 5px;
      }
      p{
        font-size: 26px;
      }
      .img-box{
        margin-top: 20px;
        display: flex;
        img{
          height: 45px;
          margin-right: 5px;
        }
      }
    }
    
    img{
      height: 260px;
    }
  }
}