.registration-contents{
  width: 700px;
  margin: 0 auto;
  background-color: #fff;

  .registration-form{
    padding: 0 40px 64px;
    font-size: 14px;

    a{
      color: #0099e8;
    }

    &__content{
      width: 343px;
      margin: 32px auto 0;

      &__info-text{
        margin: 8px 0 0;
        color: #888;
      }

      &__sub-head{
        font-size: 16px;
        margin: 0 0 8px;
      }

      &__birthday{
        width: 343px;
        display: flex;

        span{
          margin: 0 2px;
          line-height: 48px;
        }
      }
    }

    .form-necessary{
      @include form-need(#ea352d);
    }

    .submit-btn{
      margin: 32px 0;
      @include submit();
      @include submit-red();
    }
  }
}