.header{
  .single-header{
  // width:1132.5px;
  width: 100%;
  height:127.99px;
  background-color: gray;
  font-size:14px;
  text-align: center;
 }


.main{
  .main.single-main{
     width: 1498.75px;
     height: 2004.65px;
     background-color: #333333;
     font-size:14px;
    }
    // .l-single-container.buy-item-container{

    .sell-containaer{
     width:700px;
     margin: 0 auto;
     background: #fff;
     padding: 0;
     border-style: solid;
     border-width: 0;
     font-size: inherit;
     line-height: inherit;
     box-sizing: inherit;
     display: block;
    }


  .sell-main__inner{
    .sell-single-head{
      width: 700px;    
      height: 97px;
      font-size: 22px;
      background-color:#333333;
      padding:32px 16px;
    }
  }
      .sell-upload-box{
          width: 700px;    
          height: 300px;
          font-size: 22px;
          background-color: #F5F5F5;
          padding: 40px;
      }

      .sell-main__upload-drop-box.sell-main__upload-drop-box--have-item-0{
        width: 700px;    
        height: 300px;
        font-size: 22px;
        background-color: #F5F5F5;
        padding: 40px;
    }


   .sell-content{
      width: 700px;    
      height: 300px;    
      margin:8px 0 0;
   } 

    .single-main__form-group {
        width: 620px;    
        height: 48px;
        font-size: 22px;
        background-color: #FFFFFF;
        padding: 10px 16px 8px;
        margin:8px 0 0 ;
    } 

    .sell-contents-clearfix{
        width: 700px;    
        height: 260px;    
        margin:8px 0 0;
    }
    .sell-main__form-group{
        width: 400px;
        height: 47px;
        padding:0px 16px;
    }
    .sell-main__select-wrap {
        width:400px;
        height:69.73px;
        margin:40px 0px 0px;
    }
    .sell-main__form-group{
        width:400px;
        height:47.99px;
        padding:0px 16px;   
    }
    .sell-main__form-group{
        width:731.25px;
        height:366.13px;
        padding:40px;    
    }

  .sell-main__content.clearfix
    .sell-subu-head{
        width:651.25px;
        height:13.75px;
        color:#888888;
        font-size:14px;
    }
    .sell-main__form-box{
        width:160.49px;
        height:47.99px;
        padding:10px 16px 8px;    
    }
    .clearfix {
        width:651.25px;
        height:62.71px;
        padding:24px 0px; 
    }

    .sell-main__right.sell-main__price-input {
        width:651.25px;
        height:82.71px;
        padding:24px 0px; 
    }

    .sell-content.sell-btn.box{
        width:620.25px;
        height:49.49px;
        padding:40px; 
    }

    .button.btn-default.btn-red{
        width:278.98.25px;
        height:49.49px;
        padding:40px; 
        background-color: #EA352D;
        font-size:14px;
        margin:24px 170px 0px;
    }

    .a.btn-default.btn-gray{
        width:293.05px;
        height:49.49px;
        background-color: #AAAAAA;
        font-size:14px;
        margin:26px 179.102px 0px;
    }



.footer{
    .single-footer{
        width: 100%;
        height: 250px;
        background-color: #333333;
        padding: 40px 0px;
    }
